body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Links */
a {
  transition: all 0.2s;
  padding: 0.25rem 0.5rem;
  color: black;
  text-shadow: 0.25px 0.25px 0px #00000038;
}
a:hover,
a:focus {
  background: black;
  color: white;
}

::selection {
  background: #06aa73;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

img {
  border: 7px solid #e0e0e0;
}

section:not(:first-of-type) {
  margin-bottom: 5rem;
}

/* Personal Summary */
.bio {
  display: flex;
  justify-content: center;
  min-height: 95vh;
  align-items: center;
  position: relative;
}
.bio .portrait-text {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.bio .portrait-text h1:hover:after {
  content: " :)";
  color: #06aa73;
}
.bio hr {
  margin: 3rem 0;
  opacity: 0.3;
}
.bio .links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.bio .links > div {
  display: flex;
  align-items: center;
}
.bio .links .svg-container {
  width: 30px;
  height: 30px;
  align-items: center;
  display: inline-flex;
  justify-content: flex-start;
}
.down-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.experience {
  margin-bottom: 3rem;
  border-left: 4px solid rgb(202 209 225);
  padding-left: 1rem;
}
.experience > * {
  margin-bottom: 0rem;
  margin-top: 0.25rem;
}

/* Skills */
#skills ul {
  gap: 2rem;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#skills li {
  flex: 1 1 25%;
  flex-direction: column;
  display: flex;
}

.card {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  margin-bottom: 1rem;
  border-radius: 8px;
}
.card p {
  margin-top: 0;
}
.card h4 {
  margin-bottom: 0;
}

/* Contact */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: #555;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
