/* Bio */
.bio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.bio-portrait {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.bio-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1rem;
  margin: clamp(1rem, 5vw, 5rem) 0;
}

.bio-title {
  font-size: 2rem;
  font-weight: bold;
}

.download-resume-container {
  display: flex;
  gap: 0.5rem;
} 