/* Button Styles */

/* Base Button Styles */
.btn {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--body-text-dark);
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background: var(--bg-medium-gray);
  color: var(--body-text-dark);
}

a.btn:not([download]):hover {
  text-decoration: underline;
}

/* Primary Button */
.btn-primary {
  background: var(--primary-color);
  color: var(--body-text-light);
}

.btn-primary:hover {
  background: var(--primary-btn-hover-bg);
  color: var(--primary-btn-hover-text);
}

/* Secondary Button */
.btn-secondary {
  background: var(--bg-secondary-light);
  color: var(--body-text-dark);
  border: 1px solid var(--border-secondary);
}

.btn-secondary:hover {
  background: var(--bg-secondary-gray);
  color: var(--body-text-dark);
}

/* Secondary Outline Button */
.btn-secondary-outline {
  background: transparent;
  color: var(--body-text-dark);
  border: 1px solid var(--border-secondary-dark);
}

.btn-secondary-outline:hover {
  background: var(--bg-secondary-hover);
  color: var(--body-text-dark);
}

/* Link Button */
.btn-link {
  background: transparent;
  color: var(--primary-color);
  border: none;
  text-decoration: underline;
}

.btn-link:hover {
  background: transparent;
  color: var(--primary-btn-hover-bg);
  text-decoration: none;
}

/* Dark Mode Button Styles */
.dark-mode .btn {
  background: var(--btn-gray);
  color: var(--body-text-light);
  border: 1px solid var(--dark-border-input);
}

.dark-mode .btn:hover {
  background: var(--btn-gray-hover);
  color: var(--body-text-white);
}

.dark-mode .btn-primary {
  background: var(--primary-color);
  color: var(--body-text-light);
}

.dark-mode .btn-primary:hover {
  background: var(--primary-btn-hover-bg);
  color: var(--primary-btn-hover-text);
}

.dark-mode .btn-secondary {
  background: var(--btn-gray-hover);
  color: var(--body-text-light);
  border: 1px solid var(--btn-dark-gray);
}

.dark-mode .btn-secondary:hover {
  background: var(--btn-dark-gray);
  color: var(--body-text-white);
}

.dark-mode .btn-secondary-outline {
  background: transparent;
  color: var(--body-text-light);
  border: 1px solid var(--btn-dark-gray-hover);
}

.dark-mode .btn-secondary-outline:hover {
  background: var(--btn-dark-gray-hover);
  color: var(--body-text-white);
}

.dark-mode .btn-link {
  background: transparent;
  color: var(--body-text-light);
  border: none;
}

.dark-mode .btn-link:hover {
  background: transparent;
  color: var(--body-text-white);
}

.dark-mode .featured-project-title-container .btn-primary {
  border-color: var(--body-text-white) !important;
} 