/* Contact Form */
#contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--bg-light-gray);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

#contact form {
  width: 100%;
}

#contact label {
  font-weight: bold;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-medium-gray);
}

#contact textarea {
  resize: vertical;
} 