/* Featured Project Slides */
.featured-project-links {
  display: flex;
  gap: 1rem;
  margin: 0.75rem 0 0;
}

.featured-project-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

figure {
  border: 1px solid var(--border-dark-gray);
  background: var(--bg-white);
}

figure figcaption {
  padding: 0.5rem;
}

.slides,
.slide-navigation,
.featured-project-title-container {
  width: 105%;
  transform: translateX(-2.5%);
}

.featured-project-title-container {
  background: var(--primary-color);
  color: var(--body-text-light);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
}

.featured-project-title-container a {
  color: var(--body-text-light);
}

.slides {
  position: relative;
  overflow: hidden !important;
  border: 1px solid var(--border-dark-gray) !important;
  border-bottom: none !important;
}

.slide-content {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.slide-content > :first-child {
  flex: 0 1 300px;
}

@media screen and (min-width: 768px) {
  .slide-content > :last-child {
    flex: 1 1 400px;
    background: var(--bg-very-light-gray);
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.slide {
  padding: 1rem;
  background: var(--bg-lightest-gray);
  max-height: 80vh;
  overflow-y: auto;
  color: var(--body-text-dark);
}

.slide ul,
.slide ol {
  padding-left: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.slide a {
  color: var(--primary-color);
}

.slide hr {
  margin: 1rem 0;
}

.slide h3 {
  margin-bottom: 1rem;
}

.slide p {
  margin: 1rem 0;
  padding-left: 0.5rem;
}

.slide b {
  display: block;
}

.slide-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.slide img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slide-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--border-dark-gray);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.5rem;
}

.slide-indicator {
  font-weight: bold;
  color: var(--text-black);
  min-width: 60px;
  text-align: center;
} 