/* LCD Effect Theme */
.lcd-effect {
  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: multiply;
    user-select: none;
    pointer-events: none;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        var(--shadow-light) 51%
    );
    background-size: 100% 4px;
  }
  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--lcd-green);
    mix-blend-mode: multiply;
    z-index: 2147483648;
    pointer-events: none;
    user-select: none;
  }
  & .gradient-background {
    background: var(--lcd-dark);
  }
  & main * {
    filter: saturate(0);
    font-weight: 900 !important;
    text-shadow: 0 1px 0px var(--shadow-dark);
    font-family: 'VT323', monospace!important;
    text-transform: uppercase;
  }
  & footer * {
    color: var(--text-white) !important;
  }
} 